#inicio .ui-content,
#registro .ui-content,
#main .ui-content{
	text-align: center;
}

#inicio img{
	margin-bottom: 20px
}

#inicio button,
#registro button{
	margin: 30px 0;
}

#main img {
	margin-top: 70px;
}

.menu-btn{
	padding: 15px;
}

.tabla-historial{
	width: 100%;
	border-collapse: collapse;
}

.tabla-historial th,
.tabla-historial td{
	border: 1px solid black;
	padding: 5px;

}

.tabla-historial tbody tr:nth-child(2n){
	background-color: #ccc;
}

.tabla-historial tbody tr:nth-child(2n+1){
	background-color: #0f0;
}

.padding-4tb{
	padding: 4px;
}